PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/edurights?retryWrites=true&w=majority
JWT_SECRET=edurights_super_secret_child_rights_jwt_key_2026
CLIENT_URL=http://localhost:5173
NODE_ENV=development
